.containerH1 {
    display: flex;
    align-items: center;
}

.containerH1 button {
    font-size: 1.9rem;
    color: blue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    transition: all .2s;
}

.containerH1 button:hover {
    color: rgb(4, 4, 58);
    font-size: 2rem;
}



.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.arrow {
    font-size: 28px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.arrow:hover {
    color: #3498db;
}

.arrow.disabled {
    color: #aaa;
    cursor: not-allowed;
    pointer-events: none;
}

/* Estilo base para todos inputs */
.tabela-exames thead input,
.input-tabela {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo base para os inputs */
.tabela-exames thead input,
.input-tabela {
    padding: 0.2rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.2s ease;
}

/* Sombra azul quando clica */
.tabela-exames thead input:focus,
.input-tabela:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}

/* Tamanhos específicos */
.input-id {
    width: 50px;
    text-align: center;
}

.input-cod {
    width: 100px;
}

.input-nome {
    width: 180px;
}
