.container-modal {
  position: absolute;
}

.modal-dialog {
  max-width: 90%;
  margin: 1.75rem auto;
}

.pagination .arrow {
  cursor: pointer;
  font-size: 1.2rem;
}

.pagination .arrow.disabled {
  opacity: 0.5;
  pointer-events: none;
}